<div class="container">
    <h2>Welcome to the Spring intro training!</h2>
    <p>Please use the menu to access the functionalities</p>

    <div class="collapse navbar-collapse" id="menu-collapse">
        <div>
            <ul class="nav navbar-nav" role="navigation">
                <li><a href="#/users">Users</a>
                <li><a href="#/products">Products</a>

                <li class="divider"></li>

                <li class="disabled"><a href="#/auth">Login</a>
            </ul>
        </div>
    </div>
</div>
