<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="false">
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">

        <encoder>
            <!-- layouts reference - http://logback.qos.ch/manual/layouts.html -->
            <pattern>[%date{HH:mm:ss.SSS}] %level %thread %message [%class{0}]%n</pattern>
        </encoder>
    </appender>

    <logger name="net.safedata.spring.intro" level="INFO"/>

    <!-- <logger name="org.springframework.security" level="DEBUG"/> -->

    <!-- The root logger -->
    <root>
        <level value="WARN"/>
        <appender-ref ref="Console"/>
    </root>
</configuration>