<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       xmlns:context="http://www.springframework.org/schema/context">

    <!--
    Activates various annotations to be detected in bean classes:
        - Spring's @Required and @Autowired;
        - JSR 250's @PostConstruct, @PreDestroy and @Resource (if available);
        - JAX-WS's @WebServiceRef (if available);
        - EJB3's @EJB (if available);
        - JPA's @PersistenceContext and @PersistenceUnit (if available);
    -->
    <context:annotation-config/>

    <!-- Scans within the base package of the application for @Components to configure as beans -->
    <!-- @Controller, @Service, @Configuration, @Component, @Repository, etc. -->
    <context:component-scan base-package="com.tpg.spring.intro"/>

    <!-- Load the properties files -->
    <context:property-placeholder location="classpath:database-connection.properties"/>

    <!-- Import the H2 embedded database -->
    <import resource="applicationContext-embedded-database.xml"/>

    <!-- Import the web related beans -->
    <import resource="applicationContext-web.xml"/>

</beans>