<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <bean id="userDao" class="net.safedata.spring.intro.dao.UserDAOImpl"/>

    <bean id="userService" class="net.safedata.spring.intro.service.UserServiceImpl">
        <constructor-arg ref="userDao"/>
    </bean>
</beans>