<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation=
               "http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
                http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- Enables transaction management for the methods annotated with @Transactional -->
    <tx:annotation-driven/>

    <!-- the spring-intro data source -->
    <bean id="springIntroDataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
        <constructor-arg>
            <bean class="com.zaxxer.hikari.HikariConfig">
                <property name="dataSourceClassName" value="${jdbc.driverClassName}"/>

                <property name="dataSourceProperties" >
                    <props>
                        <prop key="url">${springIntro.jdbc.url}</prop>
                        <prop key="user">${springIntro.database.username}</prop>
                        <prop key="password">${springIntro.database.password}</prop>
                    </props>
                </property>
            </bean>
        </constructor-arg>

        <property name="poolName" value="spring-intro-connection-pool"/>
        <property name="autoCommit" value="true"/>
        <property name="minimumIdle" value="5"/>
        <property name="maximumPoolSize" value="5"/>
        <property name="connectionTimeout" value="2000"/>
    </bean>

    <!-- Database initialization scripts. If any of the script fails, the initialization stops -->
    <jdbc:initialize-database data-source="springIntroDataSource" enabled="false">
        <jdbc:script location="${users.creation.script}"/>
    </jdbc:initialize-database>

    <bean id="hibernateProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean"
          p:location="classpath:database/hibernate.properties"/>
</beans>
