<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation=
               "http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
                http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- ========================= Data-sources definitions ========================= -->

    <!-- An H2 in-memory database -->
    <jdbc:embedded-database id="springIntroDataSource" type="H2">
        <jdbc:script location="${users.creation.script}"/>
    </jdbc:embedded-database>

    <!-- Database initialization scripts. If any of the script fails, the initialization stops -->
    <jdbc:initialize-database data-source="springIntroDataSource" enabled="false">
        <jdbc:script location="${users.creation.script}"/>
    </jdbc:initialize-database>

    <bean id="hibernateProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean"
          p:location="classpath:database/hibernate.properties"/>

    <!-- The session factory used to manage Hibernate sessions for the 'spring-intro' database -->
    <bean id="springIntroSessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean"
          p:dataSource-ref="springIntroDataSource"
          p:packagesToScan="com.tpg.spring.intro.entities"
          p:hibernateProperties-ref="hibernateProperties">
    </bean>

    <!-- The transaction manager used to handle Hibernate transactions -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager"
          p:sessionFactory-ref="springIntroSessionFactory">
    </bean>

    <!-- Enables transaction management for the methods annotated with @Transactional -->
    <tx:annotation-driven/>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="springIntroDataSource"/>
    </bean>

</beans>
